/* Color Scheme ===================================================================================
  #BF7E04 - Gold
  #650D1B - Red
  #577720 - Green
  #6893A1 - Blue
*/

/* body, html {
  height: 100%;
  position: relative;
} */

/* Welcome ======================================================================================== */

div.container {
  width: 80%;
}

/* Dashboard ====================================================================================== */

/* Profile ======================================================================================== */

/* Friends ======================================================================================== */

/* Goals ========================================================================================== */

.goalDropdown {
  text-transform: capitalize;
}