.navbar-brand {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-bottom: 5px
}

.navbar {
  background: #6B8E23; 
}

.navbar a {
  color: white
}

.navbar i {
  vertical-align: middle;
  padding-right: 5px
}

.nav li {
  margin-right: 25px
}

